.Register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../../images/neonbrand-JW6r_0CPYec-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
    opacity: 0.9;
}
h1{
    color: blueviolet;
    text-align: center;
}
button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px;
}